{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Be-one is a clean HTML5/CSS3 template suitable for Business, Corporate, Taxes, Broker, Ad...">
   <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Title -->
    <title>MY BREW</title>

    <!-- Favicon -->


    <!-- JS -->
   <!-- Popper.js -->
   <script src="{% static 'js/popper.min.js' %}"></script>
   <!-- Bootstrap.js -->
   <script src="{% static 'js/bootstrap-4.3.1.min.js' %}"></script>
   <!-- Modernizr.js -->
   <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
   <!-- Owl.Carousel.js -->
   <script src="{% static 'js/vendor/owl.carousel-2.3.4.min.js' %}"></script>
   <script src="{% static 'js/vendor/owl.carousel2.thumbs.min.js' %}"></script>
   <!-- Waypoints.js -->
   <script src="{% static 'js/vendor/waypoints-4.0.1.min.js' %}"></script>
   <!-- ColorNip.js -->
   <script src="{% static 'js/vendor/colornip.min.js' %}"></script>
   <!-- SlickNav.js -->
   <script src="{% static 'js/vendor/slicknav.min.js' %}"></script>
   <!-- ScrollUp.js -->
   <script src="{% static 'js/vendor/jquery.scrollUp.min.js' %}"></script>
   <!-- MagnificPopup.js -->
   <script src="{% static 'js/vendor/magnific-popup.min.js' %}"></script>

   <!-- Main.js -->
   <script src="{% static 'js/main.js' %}"></script>


<!-- CSS Here -->
   <!-- MagnificPopup.css -->
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
   <!-- SlickNav.css -->
   <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
   <!-- Owl.carousel.css -->
   <link rel="stylesheet" href="{% static 'css/owl.carousel-2.3.4.min.css' %}">
   <!-- Fontawesome.css -->
   <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.12.0.min.css' %}">
   <!-- Bootstrap.css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1.min.css' %}">
   <!-- Default.css -->
   <link rel="stylesheet" href="{% static 'css/default.css' %}">
   <!-- Style.css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <!-- Responsive.css -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

   <!-- ColorNip.css -->
   <link rel="stylesheet" href="{% static 'css/colornip.min.css' %}">
   <link id="theme" rel="stylesheet" href="{% static 'css/theme-colors/theme-default.css' %}">


   <!-- Jquery -->
   <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

</head>
<body>


    <div class="search-overlay"></div>
    <!-- Search Modal -->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog">
             <div class="modal-content">
                 <form action="index.html" class="search-popup-wrapper">
                     <input type="search" placeholder="Search here...">
                     <i class="fas fa-search"></i>
                 </form>
             </div>
         </div>
     </div>
     <!-- End Search Modal -->
     
    <!-- Start Header Area -->
    <div class="header-area">
        <div class="container">
            <div class="header-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="site-logo">
							<a href="{%url 'home' %}"><h2>MY BREW</h2></a>
                        </div>
                    </div>
                    <div class="col-6 d-lg-none static text-right">
                        <div class="show-mobile-menu"></div>
                    </div>
                    <div class="col-lg-9 text-right d-none d-lg-block">
                        <nav class="menu-wrapper">
                            <ul class="main-menu" id="mobile-menu">
                                <li ><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{%url 'home'%}">Order</a></li>
                                <li class="active"><a href="#">Cart</a></li>
                                <li class="search-trigger d-none d-lg-inline-block"><a href="javascript:void(0)"><i class="fas fa-search"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Area -->

    <!-- Start Hire Us Area -->
    <div class="hire-us-area theme-bg js--sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9 col-12">
                    <div class="hire-us-content">
                        <h6>자신만의 &nbsp; <span> 커스터마이징 맥주 </span> 를 주문하고 근처 매장에서 받아보세요</h6> 
                    </div>  
                </div>
                <div class="col-lg-3 col-md-3  offset-lg-2 col-12 text-right">
                    <a class="btn hire-us-button" href="{% url 'home'%}">더 주문하기</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hire Us Area -->
    

        <!-- Start We are Bemax Area -->
        <div class="bemax-area gray-bg pt-65 pb-25" id = 'order'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb-70">
                        <div class="section-title">
                            <h3>주문하기</h3>
                        </div>
                    </div>
                </div>
                


                <div class="container" style="padding-left: 10%;padding-right: 10%;">
                    <form method='post' action="{% url 'kakao_pay'%}">
                        {% csrf_token %}
                        

                        <div class="col-4 p-5 bg-light">
                            <h3 class="text-center my-5">주문 정보</h3>
                            {% for d in data %}
                            <div>
                              <div class="my-3 row"><div class="h5 col-6">발효과정</div><div class="h6 col-6 text-right">{{d.balhyo}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">향</div><div class="h6 col-6 text-right">{{{d.hyang}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">수량</div><div class="h6 col-6 text-right">{{d.num}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">디자인</div><div class="h6 col-6 text-right">{{d.image}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">주문자 이름</div><div class="h6 col-6 text-right">{{d.name}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">픽업 희망 시간</div><div class="h6 col-6 text-right">{{d.time}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">주문자 연락처</div><div class="h6 col-6 text-right">{{d.phone}}</div></div>
                              <div class="my-3 row"><div class="h5 col-6">주문 번호</div><div class="h6 col-6 text-right">{{d.id}}</div></div>
                            </div><br>
                            {% endfor %}

                        <br><br>
                        <div style='text-align: center;' class="mb-3">
                        <button type="submit" class="btn btn-primary">결제하기</button>
                        </div>

                      </form>
                </div>
                <br><br><br>
                
            </div>
        </div>
        <!-- End We are Bemax Area -->



    <!-- Start Footer Area -->
    <footer class="footer-area pt-60 pb-60 black-bg" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">MY BREW </a>
                        </div>
                        <div class="footer-dec">
                            <p>자신만의 맥주를 커스터마이징하고 구매할 수 있는 인터넷 서비스 입니다.</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>Features</h6>
                        </div>
                        <ul class="footer-menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Terms &and; Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>Contact us</h6>
                        </div>
                        <div class="address-line">
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- End Copyright Area -->
    <div class="copyright-area black-bg">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center">
                    <div class="copyright-area ">
                        <p>Copyright © 2021 Designed by <a href="https://www.wpfreecloud.com">wpfreecloud.com</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
</body>
</html>
